body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-fig-700: 1 31 75;
    --tw-fig-600: 31 96 231;
    --tw-fig-300: 126 130 153;

    --tw-wg-400: 27 197 189;
  }

  html {
    font-family: "Roboto", sans-serif;
  }
  html,
  body,
  app-root,
  app-quiz,
  app-question,
  app-quiz-completed {
    @apply min-h-screen;
  }

  app-root,
  app-quiz,
  app-question,
  app-quiz-completed {
    @apply flex flex-1;
  }
}

/* card */
.card {
  background-color: rgb(241, 250, 254);
  border-radius: 10px;
  @apply p-4;
}
